.form-control {
  padding-top: 1rem;
  padding-right: 0.75rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  border-radius: 12px;
}

.form-control::placeholder {
  font-weight: bold;
  color: hsl(231, 11%, 63%);
}

.invalid-control {
  border: 1px solid red;
}
