<div class="d-flex flex-column h-100">
  <div>
    <h1 class="dark-blue"><b>Select your plan</b></h1>
    <h5 class="text-secondary">
      You have the option of monthly or yearly billing.
    </h5>
  </div>
  <div class="row mt-5 w-100">
    <div class="col-4" (click)="choosePlan(type.Arcade, price.Arcade, 'card1')">
      <div id="card1" class="card plan-card">
        <img
          src="../../../../assets/icon-arcade.svg"
          class="card-img-top card-img-custom"
          alt="arcade-plan"
        />
        <div class="card-body">
          <h5 class="card-title dark-blue">
            {{ type.Arcade | titlecase }}
          </h5>
          <p class="card-text text-secondary">${{ price.Arcade }}/mo</p>
        </div>
      </div>
    </div>
    <div
      class="col-4"
      (click)="choosePlan(type.Advanced, price.Advanced, 'card2')"
    >
      <div id="card2" class="card plan-card">
        <img
          src="../../../../assets/icon-advanced.svg"
          class="card-img-top card-img-custom"
          alt="advanced-plan"
        />
        <div class="card-body">
          <h5 class="card-title dark-blue">{{ type.Advanced | titlecase }}</h5>
          <p class="card-text text-secondary">${{ price.Advanced }}/mo</p>
        </div>
      </div>
    </div>
    <div class="col-4 pe-0" (click)="choosePlan(type.Pro, price.Pro, 'card3')">
      <div id="card3" class="card plan-card">
        <img
          src="../../../../assets/icon-pro.svg"
          class="card-img-top card-img-custom"
          alt="pro-plan"
        />
        <div class="card-body">
          <h5 class="card-title dark-blue">{{ type.Pro | titlecase }}</h5>
          <p class="card-text text-secondary">${{ price.Pro }}/mo</p>
        </div>
      </div>
    </div>
    <div *ngIf="planType.getError('empty')" class="text-danger mt-1">
      You must choose a plan
    </div>
  </div>
  <form [formGroup]="plan">
    <div class="slider-container d-flex w-100">
      <div class="slider-content d-flex">
        <div class="me-5 dark-blue">Monthly</div>
        <div class="form-check form-switch checkbox-slider">
          <input
            formControlName="yearlyPlan"
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
        <div class="ms-5 dark-blue">Yearly</div>
      </div>
    </div>
  </form>

  <div class="mt-auto d-flex">
    <button type="submit" class="btn go-back me-auto" routerLink="/info">
      Go back
    </button>
    <button type="submit" class="btn next-step" (click)="goToAddOns()">
      Next step
    </button>
  </div>
</div>
