<div class="container">
  <div>
    <h1 class="dark-blue"><b>Finishing up</b></h1>
    <h5 class="text-secondary">
      Double check every thing looks OK before confirming.
    </h5>
  </div>

  <div class="card mt-5 plan-card w-100">
    <div class="card-body">
      <div class="row">
        <div class="col-10 d-flex">
          <div>
            <h5 class="card-title dark-blue"><b>Arcade (Monthly)</b></h5>
            <p class="card-text text-secondary">change</p>
          </div>
        </div>

        <div class="mt-3 col-2 price"><b>+$9/mo</b></div>
      </div>
      <hr class="hr" />
      <div class="row">
        <div class="col-10 d-flex">
          <div>
            <p class="card-title text-secondary">Online service</p>
            <p class="card-text text-secondary">Larger storage</p>
          </div>
        </div>
        <div class="col-2">
          <div class="price">+$9/mo</div>
          <div class="price">+$9/mo</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-10 text-secondary">Total (per month)</div>
    <div class="col-2 text-secondary">+$12/mo</div>
  </div>

  <div>
    <button type="submit" class="btn next-step">Confirm</button>
    <button type="submit" class="btn go-back">Go back</button>
  </div>
</div>
