@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.content-margin {
  padding-top: 6rem;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 6rem;
  @include media-breakpoint-down(md) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#navbar-mobile {
  display: none;
}

@media (max-width: 850px) {
  #navbar {
    display: none;
  }
}

@media (max-width: 850px) {
  #navbar-mobile {
    display: block;
  }
}
