<div class="d-flex flex-column h-100">
  <div>
    <h1 class="dark-blue"><b>Pick add-ons</b></h1>
    <h5 class="text-secondary">Add-ons help enhance your game experience.</h5>
  </div>

  <div [formGroup]="allSteps" class="card-group mt-5 w-100">
    <div class="w-100">
      <div formArrayName="addOns">
        <div *ngFor="let addOn of addOns.controls; let i = index">
          <app-add-on-picker
            [yearlyPlan]="yearlyPlan.value"
            [name]="addOnNames[i]"
            [description]="addOnDescriptions[i]"
            [price]="yearlyPlan.value ? yearlyPrices[i] : prices[i]"
            [checked]="addOn"
          ></app-add-on-picker>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="addOns.getError('empty')" class="text-danger ms-1 mt-3">
    Please select at least one option.
  </div>
  <div class="mt-auto d-flex">
    <button type="submit" class="btn go-back me-auto">Go back</button>
    <button type="submit" class="btn next-step" (click)="goToSummary()">
      Next step
    </button>
  </div>
</div>
