<div class="d-flex flex-column h-100">
  <div>
    <h1 class="dark-blue"><b>Pick add-ons</b></h1>
    <h5 class="text-secondary">Add-ons help enhance your game experience.</h5>
  </div>

  <div class="card-group mt-5 w-100">
    <div class="w-100">
      <div class="card mb-4 plan-card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-10 d-flex">
              <div class="form-check mt-3 me-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="online service"
                  id="flexCheckDefault1"
                />
              </div>
              <div>
                <h5 class="card-title dark-blue"><b>Online service</b></h5>
                <p class="card-text text-secondary">
                  Access to multiplayer games
                </p>
              </div>
            </div>
            <label
              *ngIf="!yearlyPlan.value"
              for="flexCheckDefault1"
              class="mt-3 col-2 price"
              ><b>+$1/mo</b></label
            >
            <label
              *ngIf="yearlyPlan.value"
              for="flexCheckDefault1"
              class="mt-3 col-2 price"
              ><b>+$10/yr</b></label
            >
          </div>
        </div>
      </div>

      <div class="card mb-4 plan-card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-10 d-flex">
              <div class="form-check mt-3 me-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="larger store"
                  id="flexCheckDefault2"
                />
              </div>
              <div>
                <h5 class="card-title dark-blue"><b>Larger storage</b></h5>
                <p class="card-text text-secondary">Extra 1TB of cloud save</p>
              </div>
            </div>

            <label
              *ngIf="!yearlyPlan.value"
              for="flexCheckDefault2"
              class="mt-3 col-2 price"
              ><b>+$2/mo</b></label
            >
            <label
              *ngIf="yearlyPlan.value"
              for="flexCheckDefault2"
              class="mt-3 col-2 price"
              ><b>+$20/yr</b></label
            >
          </div>
        </div>
      </div>

      <div class="card plan-card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-10 d-flex">
              <div class="form-check mt-3 me-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="customizable profile"
                  id="flexCheckDefault3"
                />
              </div>
              <div>
                <h5 class="card-title dark-blue">
                  <b>Customizable profile</b>
                </h5>
                <p class="card-text text-secondary">
                  Custom theme on your profile
                </p>
              </div>
            </div>

            <label
              *ngIf="!yearlyPlan.value"
              for="flexCheckDefault3"
              class="mt-3 col-2 price"
              ><b>+$2/mo</b></label
            >
            <label
              *ngIf="yearlyPlan.value"
              for="flexCheckDefault3"
              class="mt-3 col-2 price"
              ><b>+$20/yr</b></label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="addOns.getError('empty')" class="text-danger ms-1 mt-3">
    Please select at least one option.
  </div>
  <div class="mt-auto d-flex">
    <button type="submit" class="btn go-back me-auto">Go back</button>
    <button type="submit" class="btn next-step" (click)="goToSummary()">
      Next step
    </button>
  </div>
</div>
