.round-button {
  border-radius: 50%;
}

.nav-content {
  height: 97%;
  background-image: url(../../../assets/bg-sidebar-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
}

.step {
  color: hsl(229, 24%, 87%);
}
