.round-button {
  border-radius: 50%;
}

.nav-content {
  min-height: 770px;
  min-width: 400px;
  background-image: url(../../../assets/bg-sidebar-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 374px 768px;
}
