<div class="row m-3 nav-content">
  <div class="nav-buttons">
    <div class="d-flex">
      <div routerLink="{{ routes.info }}" class="mt-5 ms-3">
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio1"
          autocomplete="on"
          [checked]="router.url === routes.info"
        />
        <label class="btn btn-outline-light round-button mt-1" for="btnradio1"
          >1</label
        >
      </div>
      <div class="mt-5 ms-4">
        <div class="step">STEP 1</div>
        <div class="text-light"><b>YOUR INFO</b></div>
      </div>
    </div>

    <div class="d-flex">
      <div (click)="navigateToPlan()" class="mt-5 ms-3">
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio2"
          autocomplete="off"
          [checked]="router.url === routes.plan"
          [disabled]="!navigationService.personalInfo.valid"
        />
        <label class="btn btn-outline-light round-button mt-1" for="btnradio2"
          >2</label
        >
      </div>
      <div class="mt-5 ms-4">
        <div class="step">STEP 2</div>
        <div class="text-light"><b>SELECT PLAN</b></div>
      </div>
    </div>

    <div class="d-flex">
      <div routerLink="{{ routes.addons }}" class="mt-5 ms-3">
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio3"
          autocomplete="off"
          [checked]="router.url === routes.addons"
        />
        <label class="btn btn-outline-light round-button mt-1" for="btnradio3"
          >3</label
        >
      </div>
      <div class="mt-5 ms-4">
        <div class="step">STEP 3</div>
        <div class="text-light"><b>ADD-ONS</b></div>
      </div>
    </div>

    <div class="d-flex">
      <div routerLink="{{ routes.summary }}" class="mt-5 ms-3">
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio4"
          autocomplete="off"
          [checked]="router.url === routes.summary"
        />
        <label class="btn btn-outline-light round-button mt-1" for="btnradio4"
          >4</label
        >
      </div>
      <div class="mt-5 ms-4">
        <div class="step">STEP 4</div>
        <div class="text-light"><b>SUMMARY</b></div>
      </div>
    </div>
  </div>
</div>
